.authentication__form {
  padding-bottom: 50px;

  border-bottom: 4px solid $color-separator-border;
}

.authentication__title {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 36px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {

  .authentication__title {
    padding-top: 45px;
    padding-bottom: 60px;

    font-size: 43px;
    line-height: 50px;

  }
}
