.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 20px;
}

.page-header__logo {
  width: 129px;
  height: 55px;
}
