.sign-up {
  padding-top: 20px;
  padding-bottom: 40px;
}

.sign-up__text {
  color: $info-color-text;
  text-align: center;
}

.sign-up__link {
  display: block;
  width: 100%;

  font: inherit;

  background-color: transparent;
}

.sign-up__br {
  display: none;
}

@media (min-width: $tablet-width) {

  .sign-up {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  .sign-up__text {
    width: 500px;
    margin: 0;

    text-align: right;
  }

  .sign-up__link {
    order: -1;
    width: 300px;
  }

  .sign-up__br {
    display: inline;
  }
}
