.slider__wrapper {
  display: flex;
  flex-direction: column;
}

.slider__wrapper-list {
  order: -1;
}

.slider__item {
  display: none;

  animation-name: appearance;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.slider__item--show-to-left {
  animation-name: bounce-horizont-to-left;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.slider__item--show-to-right {
  animation-name: bounce-horizont-to-left;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.slider__item--active {
  display: flex;
}

.slider__wrapper-nav-buttons {
  display: flex;
}

.slider__wrapper-pug-buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: -35px;
  padding: 20px;
}

.slider__button {
  width: 50%;

  background-color: transparent;
}

.slider__button--prev {
  border-right: none;
}

.slider__pagination-btn {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  margin-left: 35px;
  padding: 3px;

  background-color: transparent;
  border: 10px solid $color-btn-border;
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $color-btn-border-hover;
  }

  &:active {
    border-color: $color-btn-border-active;
  }
}

@media (min-width: $tablet-width) {

  .slider__controls {
    display: flex;
    flex-direction: column;
  }

  .slider__wrapper-nav-buttons {
    justify-content: space-between;
  }

  .slider__button {
    width: 200px;
  }

  .slider__button--prev {
    border-right: 2px solid $color-btn-border;
  }
}
