$main-font: "Open Sans", "Arial", sans-serif;
$main-color-text: rgb(0, 0, 0);
$main-color-text-hover: rgba(0, 0, 0, 0.6);
$main-color-text-active: rgba(0, 0, 0, 0.3);
$secondary-color-text: rgb(68, 68, 68);
$placeholder-color-text: rgba(133, 37, 37, 0.4);
$invalid-feedback-color-text: rgb(210, 0, 0);
$info-color-text: rgba(68, 68, 68, 0.7);
$color-text-btn-hover: rgb(255, 255, 255);
$color-text-btn-active: rgba(255, 255, 255, 0.3);
$color-btn-bg: rgb(68, 68, 68);
$color-btn-bg-hover: rgba(0, 0, 75, 0.3);
$color-btn-bg-active: rgba(0, 0, 75, 0);
$color-btn-border: rgb(68, 68, 68);
$color-main-bg: rgb(255, 255, 255);
$color-modal-bg: rgb(255, 255, 255);
$color-separator-border: rgb(150, 224, 209);;
$color-border-form: rgb(0, 0, 0);
$color-border-form-hover: rgb(150, 224, 209);
$shadow-color: rgb(128, 128, 128);
$color-sign-out-text:rgb(0, 0, 0);
$color-sign-out-text-hover:rgba(0, 0, 0, 0.3);
$color-sign-out-text-active:rgba(0, 0, 0, 0.6);
$color-sign-out-icon:rgb(0, 0, 0);
$color-sign-out-icon-hover:rgba(0, 0, 0, 0.3);
$color-sign-out-icon-active:rgba(0, 0, 0, 0.6);
$color-search-city-bg: rgba(68, 68, 68, 0.1);
$opacity-hover: 0.6;
$opacity-down: 0.3;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dppx: 1.5dppx;
$color-main-icon-bg: rgb(211, 210, 210);
