$main-font: "Open Sans", "Arial", sans-serif;
$main-color-text: rgb(0, 0, 0);
$main-color-text-hover: rgba(0, 0, 0, 0.6);
$main-color-text-active: rgba(0, 0, 0, 0.3);
$secondary-color-text: rgb(68, 68, 68);
$invalid-feedback-color-text: rgb(210, 0, 0);
$info-color-text: rgba(68, 68, 68, 0.7);
$color-text-btn-hover: rgb(255, 255, 255);
$color-text-btn-active: rgba(255, 255, 255, 0.3);
$color-btn-bg: rgb(68, 68, 68);
$color-btn-bg-hover: rgba(0, 0, 75, 0.3);
$color-btn-bg-active: rgba(0, 0, 75, 0);
$color-btn-border: rgb(68, 68, 68);
$color-main-bg: rgb(255, 255, 255);
$color-modal-bg: rgb(255, 255, 255);
$color-border: rgba(133, 37, 37, 0.3);

$opacity-hover: 0.6;
$opacity-down: 0.3;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dppx: 1.5dppx;
$color-main-icon-bg: rgb(211, 210, 210);
