$main-font: "Open Sans", "Arial", sans-serif;
$main-color-text: rgb(0, 0, 0);
$main-color-text-hover: rgba(0, 0, 0, 0.6);
$main-color-text-active: rgba(0, 0, 0, 0.3);
$secondary-color-text: rgb(68, 68, 68);
$plchdr-color-text: rgba(68, 68, 68, 0.3);
$color-modal-overlay-bg: rgba(255, 255, 255, 0.9);
$color-btn-bg: rgb(68, 68, 68);
$color-main-bg: rgb(255, 255, 255);
$color-modal-bg: rgb(255, 255, 255);
$color-border-modal-label: rgba(68, 68, 68, 0.1);
$color-border-modal-label-hover: rgba(68, 68, 68, 0.3);
$color-border-modal-label-active: rgb(98, 209, 186);
$opacity-hover: 0.6;
$opacity-down: 0.3;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dppx: 1.5dppx;
$color-main-icon-bg: rgb(211, 210, 210);
